@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

p a {
    text-decoration: none;
}
li {
    list-style: none;
    text-decoration: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
}

html body {

    color: rgb(255, 255, 255);
    height:100%;
    background: #000;
    font-family: 'Montserrat', sans-serif;
}

@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }


header {
    background-image: url("img/pc.png"); /* The image used */
    height: 800px; /* You must set a specified height */
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */



    display: flex;
    flex-direction: column;
    justify-content: top;
}

.superior {
    padding: 130px 50px 50px 150px;
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.inferior {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.seta-down {
    width: 40px;
    animation: bounce 1s infinite alternate;
-webkit-animation: bounce 1s infinite alternate;
}
.logo {
    width: 240px;
}

.text1 {
    max-width: 35vw;
    margin-top: 20px;

}

.bold-green {
    font-weight: 700;
    color:#c6e704;
}

.text1 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.8rem;
    font-weight: 600;
}

.text1 h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 5px;
}

.text1 a {
    margin-top: 20px;
}


.btn1 {
    max-width: 255px;
    color: #000;
    background-color: transparent;
    background-image: radial-gradient(circle,#c6e704,#c8e906);
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat'sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 19px;
    display: flex;
    padding: 9px 15px;
    text-decoration: none;
    border: 0;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 62px;
    width: 100%;
    height: 47px;
    box-shadow: 0 100px 80px rgb(195 230 2 / 32%), 0 42px 33px rgb(198 231 4 / 23%), 0 22px 18px rgb(195 230 2 / 32%), 0 13px 10px rgb(195 230 2 / 32%), 0 7px 5px rgb(195 230 2 / 32%), 0 3px 2px rgb(195 230 2 / 32%);
}

.portf {
    height: 400px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text2 {
    max-width: 50vw;
}

.text2 p {
font-family: 'Montserrat', sans-serif;
font-size: 2.8rem;
font-weight: 600;
text-align: center;
}

.exemplos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.logo-1, .logo-2,  .logo-3, .logo-4, .logo-5, .logo-6 {
    width: 400px;
    height: 250px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-1 {
    background: #ececec;
}
.logo-2 {
    background: #FFAA01;
}
.logo-3 {
    background: #ececec;
}
.logo-4 {
    background: #281205;
}
.logo-5 {
    background: #ff6500;
}
.logo-6 {
    background: #0f0f0f;
}

.portf .seta-down {
    margin-top: 20px;
}

.logoo {
    width: 250px;
}
.logoo:hover {
    width: 300px;
    transition-duration: 900ms;
}
