@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
/* font-family: 'Syncopate', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Poppins', sans-serif; */


p a {
    text-decoration: none;
}
li {
    list-style: none;
    text-decoration: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

html body {

    color: rgb(255, 255, 255);
    height:100%;
}

/* Animação */
@keyframes colors {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /* Animação */

/* ------------------- Botões ------------------- */
#btn1 {
    background: rgb(13, 235, 6);
    background-image: linear-gradient(45deg, #0ac76c, #0dc76d, #00ff82, #07940b );
    padding: 20px 60px 20px 60px;
    border: solid 3px #00ff82;
    background-size: 300% 300%;
    animation: colors 5s ease infinite;
    border-radius: 30px 0 30px 0;

    color: rgb(255, 248, 248);
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 0px 40px #c5ff3d9d;
    letter-spacing: 2px;

    
}

#btn1:hover {
    box-shadow: 0px 0px 30px #C6FF3D;
    border: solid 3px #89ff89;
    transition-duration: 200ms;
    flex-basis: 100%;
}



/* ------------------- Botões ------------------- */





/* ------------------- CABEÇALHO ------------------- */
.cabeca {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    width: 100vw;
    z-index: 1;
    background: rgba(0, 0, 0, 0.37);
mix-blend-mode: normal;
-webkit-backdrop-filter: blur(5px);
backdrop-filter: blur(10px);
    
}

.h1-H {
    font-family: 'Syncopate', sans-serif;
    font-size: 0.9em;
    font-weight: 700;
    color: #fff;

}

.countdown {
    display: flex;
    flex-direction: row;
}

.text {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    line-height: 1;
    margin: 1rem 2rem;
}
.name {
    margin-top: -20px;
    font-family: 'Poppins', sans-serif;
}
.countdown-el {
    text-align: center;
}
.countdown-el span{
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    margin-top: -20px;
}
/* ------------------- CABEÇALHO ------------------- */

 @keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }
/* animation: bounce 1s infinite alternate;
-webkit-animation: bounce 1s infinite alternate; */

/* SOBE E DESCE CONTINUAMENTE */

 /* @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; } 
 Opacidade */




/* ------------------- AR1 ------------------- */
.AR1 {
    background-image: url("img/capa-da-pagina-1.png"); /* The image used */
    background-color: #141414; /* Used if the image is unavailable */
    background-position: top; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: block;
    height: 650px;
    background-position: top;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    align-items: center;
}

.LeftAR1 {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.img1 {
    width: 30vw;
}

.btnAR1{
    margin-top: 25px;
}

.text1 {
    max-width: 400px;
    display: flex;
    flex-direction: column;
}


.h1-1 {
    font-size: 2.2em;
    font-weight: 700;
    font-family: 'Syncopate', sans-serif;
    margin-bottom: 10px;
    color: #fff;
  
}

#verde {
    color: #00ff82;
    font-size: 1.2em;
    font-weight: 700;
    font-family: 'Syncopate', sans-serif;
    margin-bottom: 10px;
}

/* ------------------- AR1 ------------------- */





/* ------------------- AR2 ------------------- */
.AR2 {
text-align: center;
padding-top: 25px;
padding-bottom: 25px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
place-items: center;
justify-content: space-evenly;

background-color: #4028b3; 

}

.barra2 {
    display: flex;
    flex-direction: row;
    align-items: center;

    max-width: 230px;
}

.img2 {
    width: 60px;
}

.h3-2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    text-align: left;
    margin-left: 10px;
}


/* ------------------- AR2 ------------------- */


/* ------------------- AR3 ------------------- */

.AR3 {

    background-image: url("img/well2.png"); /* The image used */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
      

    background-color: rgb(0, 0, 0);
    padding: 40px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.text-AR3 {
    max-width: 35vw;
}

.h1-AR3 {
    font-family: 'Syncopate', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    text-align: left;

    background-image: linear-gradient(45deg, #0dda77, #00ff82, #0bb161);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
}

.h2-AR3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    text-align: justify;
    margin-top: 10px;
}

.imgAR3 {
    width: 200px;
}

.video1 {
    max-width: 45vw;
    box-shadow: 0 0 40px #00ff82;
    border: #00ff82 solid 3px;
}

/* ------------------- AR3 ------------------- */

/* ------------------- AR4 ------------------- */
.AR4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;

    background-color: #000;
}

.h1-AR4 {
    font-family: 'Syncopate', sans-serif;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    margin: 40px 0 40px 0;

    background-image: linear-gradient(45deg, #0dda77, #00ff82, #0bb161);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
    max-width: 50vw;

    text-shadow: 0 0 60px #0dda77;
}

.imgAR42 {
    width: 35vw;
    box-shadow: 0 0 30px rgb(0, 0, 0);
}

.imagens-AR4 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.imgAR4 {
    width: 25vw;
}

/* ------------------- AR4 ------------------- */

/* ------------------- AR5 ------------------- */
.AR5 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #008d3f;
    height: 150px;

    background-image: url("img/capa-da-pagina.png"); /* The image used */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: fixed; /* Resize the background image to cover the entire container */
}

.barra5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 230px;
}

.h3-5 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    text-align: left;
    margin-left: 10px;
}

.icon5 {
    width: 60px;
}
/* ------------------- AR5 ------------------- */

/* ------------------- AR6 ------------------- */
.AR6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 100px;

    background-image: url("img/capa-de-fundo.png"); /* The image used */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
}

.h1-AR6 {
    font-family: 'Syncopate', sans-serif;
    font-size: 4em;
    font-weight: 700;
    text-align: left;
    margin: 40px 0 20px 0;

    background-image: linear-gradient(45deg, #0dda77, #00ff82, #0bb161);
    color: black;
    background-clip: text;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
    max-width: 50vw;

    text-shadow: 0 0 60px #0dda77;
}
.leftAR6 p{
    margin-top: 10px;
}
.lista-curso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 530px;

    background: rgba(40, 0, 105, 0.596);
    mix-blend-mode: normal;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.219);


    border-radius: 30px;
    margin-bottom: 40px;
    padding: 30px;
}

.lista-AR6 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.logo-lista {
    width: 250px;
}

.item-lista {
    margin-bottom: 15px;
}

.lista1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.listAR6 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    text-align: left;
    margin-left: 15px;
    color:#ffffff;
}

.h2-AR6 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em;
    font-weight: 700;
    text-align: center;
    color:#00ff82;
}

#btn2 {
    background: rgba(28, 129, 24, 0);
    background-image: linear-gradient(45deg, #0ac76c71, #0dc76d7c, #00ff8480, #07940c81 );
    padding: 20px 60px 20px 60px;
    border: solid 3px #00ff82;
    background-size: 300% 300%;
    animation: colors 5s ease infinite;
    border-radius: 30px 0 30px 0;

    color: rgb(255, 248, 248);
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 0px 40px #c5ff3d9d;

    
}

#btn2:hover {
    box-shadow: 0px 0px 30px #3dff77;
    border: solid 3px #ffffff;
    transition-duration: 200ms;
    flex-basis: 100%;
}

/* ------------------- AR6 ------------------- */

/* ------------------- AR7 ------------------- */
.AR7 {
    display: flex;
    flex-direction: column;
    justify-items: center;

    background-color: rgb(58, 0, 112);
    padding: 40px;
}

.textAR7 {
    display: flex;
    flex-direction: column;
    margin: 40px 0 80px 0;
    align-items: center;
    justify-content: center;
}

.h1-AR7 {
    font-family: 'Syncopate', sans-serif;
    font-size: 2.5em;
    font-weight: 700;

    color: white;
}

.h3-AR7 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    text-align: left;
    margin-top: 10px;
}

.imagemAR7 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

.capa {
    width: 20vw;
    box-shadow: 0 0 50px #00000093;
    filter: brightness(0.8);
    transition-duration: 200ms;
}

.capa:hover {
    filter: brightness(1);
    transition-duration: 200ms;
    box-shadow: 0 0 50px #8000e993;
    
}

.psfast {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 20vw;
}
.descriCapa {
    margin-top: 25px;
    padding: 12px;
    border-radius: 5px;
    height: 150px;

    background-image: linear-gradient(0deg, #4300af00, #4300af5b);

    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 300;
    text-align: justify;
}

/* ------------------- AR7 ------------------- */


/* ------------------- AR8 ------------------- */
.AR8 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px;

    background-color: rgb(243, 243, 243);
}

.img8 {
    width: 45vw;
}

.text-AR8 {
    max-width: 60vw;
}
.h1-AR8 {
    font-family: 'Syncopate', sans-serif;
    font-size: 4em;
    font-weight: 700;

    color: rgb(58, 0, 112);
}

.h2-AR8 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    text-align: left;
    margin-top: 10px;

    color: rgb(58, 0, 112);
}

/* ------------------- AR8 ------------------- */

/* ------------------- AR9 ------------------- */
.AR9 {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.textAR9 {
    display: flex;
    flex-direction: column;
    max-width: 60vw;
    margin: 50px 0 30px 0;
}

.h1-AR9 {
    font-family: 'Syncopate', sans-serif;
    font-size: 3em;
    font-weight: 700;
    text-align: center;

    color: rgb(58, 0, 112);
}

.h2-AR9 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;

    color: rgb(58, 0, 112);
}

.imagemAR9 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.imgAR9 {
    width: 550px;
}

/* ------------------- AR9 ------------------- */

/* ------------------- AR10 ------------------- */
.AR10 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px;

    background-color: rgb(0, 39, 27);
}

.h1-AR10 {
    font-family: 'Syncopate', sans-serif;
    font-size: 3em;
    font-weight: 700;
    text-align: center;

    color: #00ff82;
}

.h2-AR10 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;

    color: #00ff82;
}
.h3-AR10 {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    font-style: italic;

    color: #dfdfdf;
}

.video2 {
    width: 45vw;
    border-radius: 10px;
    border: solid 3px #00ff82;
}
/* ------------------- AR10 ------------------- */
/* ------------------- AR11 ------------------- */
.AR11 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 60px;
    background:#00271b;
}
.seguro {
    width: 15vw;
}
.textAR11 {
    width: 60vw;
    margin-left: 30px;
}
.h2-AR11 {
    font-family: 'Syncopate', sans-serif;
    font-size: 3em;
    font-weight: 700;
    text-align: left;

    color: #F3F3F3;
}

.h3-AR11 {
    font-family: 'Poppins', sans-serif;
    font-size: 0.8 em;
    font-weight: 600;
    text-align: left;

    color: #f3f3f3;
}
/* ------------------- AR11 ------------------- */

/* ------------------- AR12 ------------------- */
.AR12 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;

    background-color: #3a0070;
}
.containerAR12 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    max-width: 50vw;

    background-image: linear-gradient(0deg, #52e2c000, #52e2c09c);
}
.textAR12 {
    max-width: 40vw;
}
.h1-AR12 {
    font-family: 'Syncopate', sans-serif;
    font-size: 4em;
    font-weight: 700;
    text-align: left;

    color: #00ff82;
}

.h2-AR12 {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-align: left;

    color: #ffffff;
}

.h3-AR12 {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-align: center;

    color: #ffffff;

    
}
.listAR12 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    text-align: left;
    margin-left: 15px;

    color: #ffffff;
}

.lista2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.preco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.price {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    color: #fff010;
    text-decoration: line-through;
}
.oferta {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: #ffffffe5;
}
.AR12-1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    font-weight: 700;
    color: #ffffffe5;
    text-decoration: line-through;
}

.AR12-2 {
    font-family: 'Poppins', sans-serif;
    font-size: 4em;
    font-weight: 700;
    color: #fff010;
}
.big {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6em;
    font-weight: 700;
    color: #fff010;
}

.AR12-3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 700;
    color: #ffffffe5;
}
.botao-12 {
    margin-top: 30px;
}

.btnAR12-2 {
    display: none;
}
/* ------------------- AR12 ------------------- */

/* ------------------- RODAPÉ ------------------- */


footer {
    display: grid;
    place-items: center;
    padding: 5vh;
    margin: 0;
    border-top: #ff00 solid 3px;

    background: rgb(14, 14, 14);
    background-image: linear-gradient(45deg, #000000, #152e22, #161616, #001d12 );
    padding: 20px 60px 20px 60px;
    background-size: 300% 300%;
    animation: colors 5s ease infinite;
}

.logorodape {
    width: 18vw;
    user-select: none;
    margin: 10px 0 20px 0;
}

.logorodapeminha {
    width: 60px;
    margin-bottom: -10px;
}
.cinza {
    text-decoration: none;
    color: #fff;
}

.menurodape {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1em;
    user-select: none;
}

.navrodape {
    display: flex;
    padding: 0;
}
.linkmenuroda {
    text-decoration: none;
    color: #FF0054;
    font-weight: 300;
    margin: 0 10px 0 10px;
    justify-items: center;
    list-style: none;
    font-weight: 600;
}

.direitos {
    max-width: 40vw;
    user-select: none;
    text-align: center;
    font-size: 0.7em;
    margin: 15px 0 15px 0;
}

.redes {
    display: flex;
    margin: 20px 0 20px 0;
    user-select: none;
}

.icon {
display: flex;
margin: 0 10px 0 10px;
user-select: none;
}

/* ------------------- RODAPÉ ------------------- */




/* ------------------- RESPONSIVIDADE ------------------- */

/* ------------------ TABLET ------------------ */
@media only screen and (max-width: 900px) {

    .cabeca {
    background: rgb(0, 0, 0);
    position: static;
    }
/* ------------------ AR1 ------------------ */
.AR1 {
    height: 660px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    align-items: center;
}   
    
.imagem2-1 {
    margin-top: -50px;
}

.textoAR1 {
    margin-top: 300px;
}

/* ------------------ AR2 ------------------ */
.AR2 {
    padding: 25px;
    flex-wrap: nowrap;
    
}
    
.barra2 {
    max-width: 180px;
}
    
.img2 {
    width: 60px;
}
    
.h3-2 {
    font-size: 1em;
}

/* ------------------ AR3 ------------------ */
.AR3 {
    padding: 40px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.text-AR3 {
    max-width: 80vw;
    margin-bottom: 25px;
}

.h1-AR3 {
    text-align: center;
}
.h2-AR3 {
    font-size: 1.2em;
}

.video1 {
    max-width: 80vw;
}
/* ------------------ AR4 ------------------ */
.h1-AR4 {
    max-width: 70vw;
}
/* ------------------ AR5 ------------------ */

/* ------------------ AR6 ------------------ */
.AR6 {
    padding: 40px;
}

.h1-AR6 {
    font-size: 3em;
    margin: 40px 0 20px 0;
}

.lista-curso {
    max-width: 530px;

    border-radius: 20px;
}

.logo-lista {
    width: 200px;
}

.listAR6 {
    font-size: 1.1em;
    font-weight: 400;
    text-align: left;
    margin-left: 15px;
    color:#ffffff;
}

.h2-AR6 {
    margin-bottom: 20px;
}


/* ------------------ AR7 ------------------ */
.AR7 {
    display: flex;
    flex-direction: column;
    justify-items: center;

    padding: 40px;
}


.h1-AR7 {
    font-size: 3.5em;
    max-width: 60vw;
    text-align: center;
}

.h3-AR7 {
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
}

.imagemAR7 {
    display: flex;
    flex-direction: row;
}

.capa {
    filter: brightness(100%);
    width: 17vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.534);
}
.capa:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.534);
}

.psfast {
    flex-direction: row;
    max-width: 40vw;
    margin: 10px;
}

.descriCapa {
    margin-left: 3px;
    width: 19vw;
    background-image: linear-gradient(0deg, #4300af00, #4300af00);
    font-size: 1em;
}
/* ------------------ AR8 ------------------ */
.h1-AR8 {
    font-size: 2.8em;
}

.h2-AR8 {
    font-size: 1.1em;
}

/* ------------------ AR9 ------------------ */
.textAR9 {
    max-width: 70vw;
}
/* ------------------ AR10 ------------------ */
.AR10 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1-AR10 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 25px;
}
/* ------------------ AR11 ------------------ */
.h2-AR11 {
    font-size: 2em;
}

.video2 {
    width: 55vw;
}
/* ------------------ AR12 ------------------ */
.h1-AR12 {
    font-size: 2.8em;
}

.h2-AR12 {
font-family: 'Poppins', sans-serif;
font-size: 1.2em;
font-weight: 400;
}
.btnAR12-2 {
    display: none;
}
/* ------------------ BOTÕES ------------------ */
#btn2 {
    padding: 15px 60px 15px 60px;


    color: rgb(255, 248, 248);
    font-size: 1.3em;
    font-weight: 700;
    box-shadow: 0px 0px 0px;

    
}

#btn2:hover {
    box-shadow: 0px 0px 30px #3dff77;
    border: solid 3px #ffffff;
    transition-duration: 200ms;
    flex-basis: 100%;
}
}

/* ------------------ CELULAR ------------------ */
@media only screen and (max-width: 700px) {
.cabeca {
    display: flex;
    flex-direction: column;
    position: static;
    padding: 10px 0 10px 0;
}

.h1-H {
    font-size: 0.8em;
}

.countdown {
    display: flex;
    flex-direction: row;
}

.text {
    font-size: 2em;
}
.name {
    margin-top: -18px;
    font-size: 0.8em;
}


/* ------------------ BOTÕES ------------------ */
#btn1 {
    padding: 15px 60px 15px 60px;
    border-radius: 15px 0 15px 0;
    font-size: 1.3em;
    letter-spacing: 0;
}

/* ------------------ AR1 ------------------ */
.AR1 {
    height: 660px;
} 

.img1 {
    width: 50vw;
}

.imagem2-1 {
    margin-top: -50px;
}
    
.textoAR1 {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ------------------ AR2 ------------------ */
.AR2 {
    flex-wrap: wrap;
}
.barra2 {
    max-width: 70vw;
    padding: 15px;
    border-bottom: solid 1px #ffffff6b;
}
.h3-2 {
    font-size: 1.1em;
    font-weight: 400;
    margin-left: 20px;
}
.img2 {
    width: 81px;
}
/* ------------------ AR3 ------------------ */

.h2-AR3 {
    font-size: 1em;
}
/* ------------------ AR4 ------------------ */
.h1-AR4 {
    font-size: 2.4em;
}

.imgAR42 {
    width: 52vw;
}

.imgAR4 {
    width: 24vw;
}
/* ------------------ AR5 ------------------ */
.AR5 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 40px;
}
.barra5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    background: rgba(244, 244, 244, 0.17);
    mix-blend-mode: normal;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    margin: 0 0 10px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.281);
}
.h3-5 {
    font-size: 1.1em;
    font-weight: 400;
}
/* ------------------ AR6 ------------------ */
.AR6 {
    flex-direction: column;
    background-attachment: scroll;
}
.h1-AR6 {
    font-size: 2.3em;

}
.leftAR6 {
    margin-top: 0px;
    order: 2;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.lista-curso {
    order: 1;
  }

.leftAR6 {
    margin-top: 0px;
    order: 2;
  }
  .leftAR6 p{
  max-width: 80vh;
  }
/* ------------------ AR7 ------------------ */
.h1-AR7 {
    font-size: 2em;
    max-width: 80vw;
    text-align: center;
}
.h3-AR7 {
    font-size: 1.1em;
}
.imagemAR7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textAR7 {
    display: flex;
    flex-direction: column;
    margin: 40px 0 40px 0;
}

.psfast {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.capa {
    width: 68vw;
}
.descriCapa {
    margin: 0;
    width: 71vw;
    text-align: center;
}

/* ------------------ AR8 ------------------ */
.AR8 {
    flex-direction: column;
}
.text-AR8 {
    max-width: 80vw;
}

.h1-AR8 {
    font-size: 2.3em;
    margin-top: -37px;
}
.img8 {
    width: 85vw;
}

/* ------------------ AR9 ------------------ */
.h1-AR9 {
    font-size: 2em;
}
.h2-AR9 {
    font-size: 1.2em;
}
.imgAR9 {
    width: 90vw;
}
/* ------------------ AR10 ------------------ */
.video2 {
    width: 80vw;
}
/* ------------------ AR11 ------------------ */
.h2-AR11 {
    font-size: 1.4em;
}
.h3-AR11 {
    font-size: 1em;
    font-weight: 300;
}

/* ------------------ AR12 ------------------ */
.AR12 {
    display: flex;
    flex-direction: column;
}

.containerAR12 {
    padding: 30px;
    max-width: 80vw;
}

.h1-AR12 {
    font-size: 1.8em;
}

.textAR12 {
    max-width: 80vw;
    margin-bottom: 30px;
}

.btnAR12 {
    display: none;
}

.btnAR12-2 {
    display: block;
}

.listAR12 {
    font-size: 1em;
}

.price {
    font-size: 1.1em;
}

.h3-AR12 {
    font-size: 1.5em;
}
.AR12-1 {
    font-size: 2.5em;
}
.AR12-2 {
    font-size: 3em;
}
.oferta {
    font-size: 1em;
    font-weight: 400;
}
.ico {
    width: 17px;
}
.AR12-3 {
    font-weight: 400;
}
/* ------------------ RODAPÉ ------------------ */
.logorodape {
    width: 46vw;
}
.direitos {
    max-width: 70vw;
    font-size: 0.7em;
    margin: -15px 0 15px 0;
}
}
